# Credentials
.env

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
.pytest_cache/

# Databricks
.databricks/

# Node
node_modules/
.next/
frontend/.env.local
frontend/.env.local

# Terraform
infra/**/.terraform/
infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/.terraform.lock.hcl

# macOS
.DS_Store
